<div class="sidebar">
  <%= link_to "Profile", new_artist_detail_path %>
</div>
<div class="content">
  <%= form_with model: @artist_detail, local: true do |form| %>
    <div class="field mb-3">
      <%= form.label :profile %>
      <%= form.file_field :profile, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :artist_name %>
      <%= form.text_field :artist_name, readonly: true, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :email_address %>
      <%= form.text_field :email_address, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :country %>
      <%= form.country_select :country, class: "form-control w-100" %>
    </div>
    <div class="field">
      <%= form.label :Bio %>
      <%= form.text_area :bio, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :website_link %>
      <%= form.text_field :website_link, class: "form-control" %>
    </div>
   <div class="field-with-social-link">
        <%= form.label :social_link %>
        <div class="social">
          <%= form.text_field :social_link, class: 'social-field form-control mb-1', multiple: true %>
        </div>
    </div>
    <%= link_to "Add Social Link", "", id: 'social-link', class: "btn btn-outline-secondary mb-3 mt-2" %>
    <div class="actions mb-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>
