<div class="row mb-2">
  <%= render 'tab', status: "All" %>
  <%= render 'tab', status: "Pending" %>
  <%= render 'tab', status: "Accepted" %>
  <%= render 'tab', status: "Rejected" %>
  <%= render 'tab', status: "Deleted" %>
</div>
