<span class="btn btn-lg btn-light col">
<<<<<<< HEAD
  <%= link_to "All" if status.blank? %>
  <%= status_tabs_link "status", status if status.present? %>
  <%= auditions_count(status) %>
=======
  <%= statustabs "status", status %>
  <% if status == "All" %>
    <%= "("+(Audition.all.count).to_s + ")" %>
  <% else %>
    <%= "("+(Audition.where(status: status).count).to_s + ")" %>
  <% end %>
>>>>>>> a414a5c ( Audition Details Changing status, changes applied)
</span>
