<div class="row mb-2">
  <%= render 'tab', status: '' %>
  <%= render 'tab', status: Audition::PENDING %>
  <%= render 'tab', status: Audition::ACCEPTED %>
  <%= render 'tab', status: Audition::REJECTED %>
  <%= render 'tab', status: Audition::DELETED %>
</div>
