<div class="row mb-2">
<<<<<<< HEAD
  <%= render 'tab', status: '' %>
  <%= render 'tab', status: Audition::PENDING %>
  <%= render 'tab', status: Audition::ACCEPTED %>
  <%= render 'tab', status: Audition::REJECTED %>
  <%= render 'tab', status: Audition::DELETED %>
=======
  <%= render 'tab', status: "All" %>
  <%= render 'tab', status: "Pending" %>
  <%= render 'tab', status: "Accepted" %>
  <%= render 'tab', status: "Rejected" %>
  <%= render 'tab', status: "Deleted" %>
>>>>>>> a414a5c ( Audition Details Changing status, changes applied)
</div>
