<% content_for :auditions_index_js do %>
  <script>
    $(document).ready(function() {
      $('.select').on('change', function() {
        $.ajax({
          url: "/auditions/" + $(this).attr("id"),
          type: 'PATCH',
          data: {
            assigned_to: this.value
          },
         success: function()
         {
          alert("Audition has been assigned");
         },
         error: function()
         {
          alert("Audition has not been assigned");
         }
        });
      });

      $(document).on("click", ".modal-footer a", function(e){
        e.preventDefault();
        let id = $(this).attr("id");
        let status = $(this).attr("value");
        if(status == "Accepted"){
          $("#email-accepted").removeClass(".display-none");
          CKEDITOR.replace( 'editor2' );
          callingAJAX(id, status);
        }
        else if(status == "Rejected"){
          $("#email-rejected").removeClass(".display-none");
          callingAJAX(id, status);
        }
        else if(status == "Deleted"){
          ajaxStatusEmailRequest(id,status);
        }
      });

      function callingAJAX(id, status){
        $(document).on("click", ".btn-email", function(){
          let email_description = (CKEDITOR.instances['email_description'].getData()).slice(3,-5);
          ajaxStatusEmailRequest(id,status,email_description);
        });
      }

      function ajaxStatusEmailRequest(id, status, email_description){
        $.ajax({
          url: '/change_status_send_email',
          type:'PATCH',
          data: {
            id: id,
            status: status,
            email_description: email_description
          },
          success: function(data){
            location.reload();
          }
        });
      }
    });
  </script>
<% end %>

<div class="mb-2">
  <%= form_with(url: auditions_path, method: :get) do |f| %>
    <%= f.text_field :query, class: 'search pb-2 mb-1', placeholder: 'Search by Name, Artist, Email...' %>
    <%= f.submit "Search", class: 'btn btn-outline-secondary mt-1' %>
  <% end %>
</div>
<%= render 'tabs' %>
<%= link_to "Export csv", auditions_csv_path(request.parameters.merge(format:'csv')), class:"btn btn-lg btn-success mb-2" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"><%= sortable "firstname", "Name" %></th>
      <th scope="col"><%= sortable "artist_name" %></th>
      <th scope="col"><%= sortable "email" %></th>
      <th scope="col"><%= sortable "genre" %></th>
      <th scope="col"><%= sortable "created_at" %></th>
      <th scope="col">Assigned_to</th>
      <th scope="col"><%= sortable "status" %></th>
    </tr>
  </thead>
  <tbody>
    <% @auditions.each do |audition| %>
      <tr scope="row">
        <td><%= audition.id %></td>
        <td><%= link_to audition.name, audition_path(audition.id), data: {bs_toggle: 'modal', bs_target: '#audition-status-modal', remote: true} %></td>
        <td><%= audition.artist_name %></td>
        <td><%= audition.email %></td>
        <td><%= audition.genres %></td>
        <td><%= audition.formatted_created_at %></td>
        <td><%= select_tag(audition.id, options_for_select(audition_assigned(User.managers) , selected: audition.manager_assigned(audition)), class: "select", prompt: "Select", remote: true) %></td>
        <td><%= audition.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--Status Modal -->
<div class="modal fade" id="audition-status-modal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="audition-details">
      </div>
    </div>
  </div>
</div>
<!--Email Modal -->
<div class="modal fade" id="email-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="email-content">
      </div>
    </div>
  </div>
</div>
