<div class="mb-2">
  <%= form_with(url: auditions_path, method: :get) do |f| %>
    <%= f.text_field :query, class: 'search pb-2 mb-1', placeholder: 'Search by Name, Artist, Email...' %>
    <%= f.submit "Search", class: 'btn btn-outline-secondary mt-1' %>
  <% end %>
</div>
<%= render 'tabs' %>
<%= link_to "Export csv", format_csv_auditions_path(request.parameters.merge(format:'csv')), class:"btn btn-lg btn-success mb-2" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"><%= sortable "firstname", "Name" %></th>
      <th scope="col"><%= sortable "artist_name" %></th>
      <th scope="col"><%= sortable "email" %></th>
      <th scope="col"><%= sortable "genre" %></th>
      <th scope="col"><%= sortable "created_at" %></th>
      <th scope="col">Assigned_to</th>
      <th scope="col"><%= sortable "status" %></th>
    </tr>
  </thead>
  <tbody>
    <% @auditions.each do |audition| %>
      <tr scope="row">
        <td><%= audition.id %></td>
        <td><%= audition.name %></td>
        <td><%= audition.artist_name %></td>
        <td><%= audition.email %></td>
        <td><%= audition.genres %></td>
        <td><%= audition.formatted_created_at %></td>
        <td><%= select_tag(audition.id, options_for_select(audition_assigned(User.managers) , selected: audition.manager_assigned(audition)), class: "select", prompt: "Select", remote: true) %></td>
        <td><%= audition.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
