<% content_for :auditions_new_js do %>
  <script>
  $(document).ready(function() {
    $("#other-text-field").addClass("display-none");
    $('#media').on('change', function() {
      let conceptName = $('#media').find(":selected").text();
      if (conceptName == "Other") {
        $("#other-text-field").removeClass("display-none");
      } else {
        $("#other-text-field").addClass("display-none");
      }
    });
    function check_to_hide_or_show_add_link() {
      if ($('#link-fields .nested-fields:visible').length == 4) {
        $('#link-fields .links').hide();
      } else {
        $('#link-fields .links').show();
     }
    }

    $('#link-fields').on('cocoon:after-insert', function() {
     check_to_hide_or_show_add_link();
    });

    $('#link-fields').on('cocoon:after-remove', function() {
     check_to_hide_or_show_add_link();
    });

    check_to_hide_or_show_add_link();
  });
  </script>
<% end %>

<div class="container">
  <div class="justify-content-center">
    <div class="p-4 p-md-5">
      <div class="d-flex justify-content-center">
        <h2 class="signup-heading">Submit Audition</h2>
      </div>
      <%= form_for(@audition, remote: true) do |f| %>
        <div class="mb-3">
<<<<<<< HEAD
          <%= f.text_field :firstname, placeholder: "First Name", class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.email_field :email, placeholder: "Email Address", class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.text_field :artist_name, placeholder: "Artist Name", class: "form-control", required: true %>
        </div>
        <div class="mb-3" id="link-fields">
          <%= f.fields_for :links do |t| %>
            <%= render "link_fields", f: t %>
          <% end %>
          <div>
            <%= link_to_add_association "Song Link", f, :links, class: 'links' %>
          </div>
        </div>
        <div class="mb-3">
          <p>Select Genre</p>
          <%= f.select :genre, Audition::GENRES, {include_hidden: false}, class: "form-control genre-multiple", multiple: true, required: true %>
        </div>
        <div class="mb-3">
          <p>How did you hear about us?</p>
          <%= f.select :media, Audition::SOURCES, {}, class: "form-control", id: "media", required: true %>
        </div>
        <div class="mb-3" id="other-text-field">
          <%= f.text_field :media_other, placeholder: "Enter Social Media", class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.text_area :info, placeholder: "Any Additional Info", class: "form-control" %>
        </div>
        <div class="mb-3 actions d-flex justify-content-center">
          <%= f.submit "Submit", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
